<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <!-- <div th:fragment="footer">  -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">


        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="#">Group3</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- </div> -->
</body>

</html>